@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 0 lightgray;
}

.header .header-container{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header .logo{
  width: 50px;
  height: auto;
  margin: 0;
}

.header .logo img{
  width: 100%;
  height: auto;
}

.header .nav ul{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.header .nav ul li{
  list-style: none;
}

.header .nav ul li a{
  color: black;
}

a{
  text-decoration: none;
}